{% extends "PyTraker/header.html" %}


{% block content %}

<div class="nav-item">Hello, {{ request.user }} </div>  <a href="#" onClick="document.getElementById('logoutform').submit()"><button type="button" class="btn btn-dark" >Logout</button></a>
<form id="logoutform" method="POST"  action="{% url 'PyTraker:logout' %}">
{% csrf_token %}
<input type="hidden">
</form>
{% else %}
<a href="{% url 'PyTraker:sign_up' %}" class="nav-link"  >Sign up</a>  <a href="/PyTraker/login/?next=/" class="nav-link" >Login</a>
{% endif %}

{% endblock %}