{% extends "PyTraker/header.html" %}

{% block content %}

<div class="container">
  <div class="card">
    <h5 class="card-header">{{ profile.firstname }} {{ profile.lastname }}'s Profile</h5>
    <div class="card-body">
      <h5 class="card-title">Username:</h5> <p>{{ profile.user.username }}</p>
      <h5 class="card-text">First Name:</h5> <p>{{ profile.firstname }}</p>
      <h5 class="card-text">Last Name:</h5> <p>{{ profile.lastname }}</p>
      <h5 class="card-text">Phone Number:</h5> <p>{{ profile.phonenumber }}</p>
      <h5 class="card-text">Email:</h5> <p>{{ profile.email }}</p>

      <a href="/PyTraker/user_profile_edit/{{ user.id }}" class="btn btn-warning">Edit</a>
      <a href="/PyTraker/index" class="btn btn-primary" >Back</a>

    </div>
  </div>
</div>

{% endblock %}