{% extends "PyTraker/header.html" %}

{% block content %}

<h1>List of {{ user }}'s Work Diaries</h1>
    {% if all_workdiary %}
        <div class="list-group">
        {% for workdiary in all_workdiary %}
        <a href="/PyTraker/workdiary_detail/{{ workdiary.id }}" class="list-group-item list-group-item-action">{{ workdiary.name }} | {{ workdiary.projectID.name }} | {{workdiary.date }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p> No Work Diaries yet!</p>
    {% endif %}

<a class="btn btn-success" href= "/PyTraker/workdiary_add">Add Work Diary</a>
{% endblock %}