{% extends "PyTraker/header.html" %}

{% block content %}

    <div class="container">
        <div class="card">
            <h5 class="card-header">Edit Work Diary</h5>
            <div class="card-body">
                <form action="/PyTraker/workdiary_edit/{{ workdiary.id }}" method="post">
                    {% csrf_token %}
                    {{ workdiary_edit.as_p }}
                    <input type="submit" value="Confirm" class="btn btn-success">
                    <a href="/PyTraker/workdiary_delete/{{ workdiary.id }}"  class="btn btn-danger"  id ='{{workdiary.id}}'>Delete</a>
                    <a href="/PyTraker/workdiary_detail/{{ workdiary.id }}" class="btn btn-primary" >Cancel</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
