{% extends "PyTraker/noteboard_base.html" %}

{% block content %}

<div class="container">

    <form method="POST" action="/PyTraker/noteboard-create"> {% csrf_token %}
        <div class="input-group nb-new">
          <div class="input-group-prepend">
            <span class="input-group-text">New Note</span>
          </div>
          <textarea name="newNoteText" class="form-control" aria-label="With textarea"
                    placeholder="Type here..." required autofocus></textarea>
        </div>

        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg">Add Note</button>
        </div>
        <p class="text-center"><a href="/PyTraker/noteboard">Cancel</a></p>
    </form>
</div>

{% endblock %}