{% extends "PyTraker/noteboard_base.html" %}

{% block content %}

<div class="container">

    <form method="POST" action="/PyTraker/noteboard-update/{{note.id}}"> {% csrf_token %}
        <div class="input-group nb-new">
          <div class="input-group-prepend">
            <span class="input-group-text">Update Note</span>
          </div>
          <textarea name="updatedText" class="form-control"
                    aria-label="With textarea" autofocus required>{{ note.note }} </textarea>
        </div>

        <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-warning btn-lg">Update Note</button>
        </div>
        <p class="text-center"><a href="/PyTraker/noteboard">Cancel</a></p>
    </form>
</div>

{% endblock %}