{% extends "PyTraker/header.html" %}

{% block content %}

<div class="container">
  <div class="card">
    <h5 class="card-header">{{ profile.firstname }} {{ profile.lastname }}'s Profile</h5>
    <div class="card-body">
      <h5 class="card-title">Username: {{ profile.user.username }}</h5>
      <p class="card-text">First Name: {{ profile.firstname }}</p>
      <p class="card-text">Last Name: {{ profile.lastname }}</p>
      <p class="card-text">Phone Number: {{ profile.phonenumber }}</p>
      <p class="card-text">Email: {{ profile.email }}</p>

      <a href="/PyTraker/user_profile_edit/{{ user.id }}" class="btn btn-warning">Edit</a>
      <a href="/PyTraker/index" class="btn btn-primary" >Back</a>

    </div>
  </div>
</div>

{% endblock %}